 $color-white: white; 
 $color-light-grey: rgb(236, 235, 235);
 $color-grey: grey;
 $color-blue: #008aa6;
 $color-light-blue: #beece0;

 $border-grey: 1px #008aa6 solid;


.inputButtonLogin {
  padding: 0.5em 0.8em;
  margin-left:75%;
  margin-top: 1em;
  background-color: $color-blue;
  border-radius: 5px;
  font-weight: bold; 
  border: 2px solid  $color-blue;
  color: white;  
  
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
 
 
  
}
.inputButtonLogin:hover {
  
    color: $color-blue;
    background-color: white;
  
}

.inputLogin {
  cursor: pointer;
  padding: 0.5em ;
  border-radius: 5px;
  width: 96%;
  margin-top: 1em;
  margin-bottom:.5em;
  border: 2px solid $color-light-blue ;
  transition:all 0.3s ease;
 
}
.inputLogin:focus {
  outline: none;
  box-shadow: 0 0 0 4px $color-light-blue;
}

.errorLogin {
    color: red;
   
}

.linkRegister {
  color: $color-blue;
  // float: right;
  margin-top: 2em;
}

