
// footer.........................................................

footer {
    position: relative;
    width: 100%;
   
    
    background:#ddbe5d;
    min-height: 100px;
    padding: 20px 0; 
   /*  display: flex;
    justify-content: center;
    align-items: center; */
  
    
    
  }
  footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: white url(./waveSenf.png);
    background-size: 1000px 100px;
  }
   #wave1 {
    z-index:  998;
    opacity: 1;
    bottom: 0;
    animation: animateWave 12s linear infinite;
  } 
  #wave2{
    z-index:  999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 12s linear infinite;
  } 
  #wave3 {
    z-index:  1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 9s linear infinite;
  } 
  #wave4 {
    z-index:  999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave2 9s linear infinite;
  } 
  
  @keyframes animateWave {
    0%
    {
      background-position-x: 1000px;
    }
    100%
    {
      background-position-x: 0px;
    }
  }
  @keyframes animateWave2 {
    0%
    {
      background-position-x: 0px;
    }
    100%
    {
      background-position-x: 1000px;
    }
  }
  
  // Quote.............................................................................
  .quote {
    font-family: 'Josefin Slab', serif;
    max-width: 35em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quoteSpan {
    align-self: flex-end;
  }
  
  /* .quoteSpan {
    z-index:50;
    font-size:0.9em; 
    font-weight: bold;
  } */
  /* .quoteA {
    color: #ccc; 
    margin-left: 4px; 
    vertical-align: middle;
  } */
  