$color-white: white; 
 $color-light-grey: rgb(236, 235, 235);
 $color-grey: grey;
 $color-blue: #008aa6;
 $color-light-blue: #beece0;

 $border-grey: 1px #008aa6 solid;

.loggedIn-div {
   display: flex;
   justify-content: flex-end;
}

.ButtonLogout {
    padding: 0.5em 0.8em;
    margin-left: 1em;
    margin-right: 2em;
    
    border-radius: 5px;
    font-weight: bold; 
    border: 2px solid  $color-blue;
   
    color: $color-blue;
    background-color: white; 
    
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
   
   
    
  }
  .ButtonLogout:hover {    
    color: white; 
    background-color: $color-blue;
    
  }