 $color-white: white;
 $border-grey: 1px grey solid;
 
 
 .App {
  
  border:$border-grey; 
  width: 40em;
  margin:0 auto;
  background-color: $color-white;
  padding: 2em;
}

.item {
  border:$border-grey; 
  padding: 1em;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

.bar {
  text-align: center;
  margin-top: 2em;
}



