 $color-white: white; 
 $color-light-grey: rgb(236, 235, 235);
 $color-grey: grey;
 $color-blue: #008aa6;
 $color-light-blue: #beece0;

 $border-grey: 1px #008aa6 solid;


.superdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
 
 
 .App {
  z-index:  1111;
  border-radius: 5px;
  max-width: 35em;
  margin:0 auto;
  margin-top: 4em;
  background-color: $color-white;
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  
}

header {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  h1 {
    
    margin-top: 2em;
  }
  .image{
    background-image: url(./tareas.png);
    width: 12em;
    height: 10em;
    background-repeat: no-repeat;
    background-size: cover;
  }
}



.item {
  
  padding: 1em;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  background-color: $color-light-blue;
  border-radius: 5px;
  
}

.bar {
  text-align: center;
  margin-top: 2em;
}

.buttonX {
  background-color: $color-blue;
  color: $color-white;
  
}

.inputButton {
  padding: 0.5em ;
  margin-left: 0.5em;
  margin-top: 0.5em;
  background-color: $color-light-blue;
  border-radius: 5px;
}

.input {
  padding: 0.5em ;
  border-radius: 5px;
  width: 82%;
  margin-top: 1.5em;
 
}

hr {
  color:$color-light-blue;
  margin-top: 2em;
}

footer {
  position: relative;
  width: 100%;
  
  background:#ddbe5d;
  min-height: 100px;
  padding: 20px 50px;
 /*  display: flex;
  justify-content: center;
  align-items: center; */
}
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: white url(./waveSenf.png);
  background-size: 1000px 100px;
}
 #wave1 {
  z-index:  998;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
} 
#wave2{
  z-index:  999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave2 4s linear infinite;
} 
#wave3 {
  z-index:  1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
} 
#wave4 {
  z-index:  999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave2 3s linear infinite;
} 

@keyframes animateWave {
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
}
@keyframes animateWave2 {
  0%
  {
    background-position-x: 0px;
  }
  100%
  {
    background-position-x: 1000px;
  }
}

