@use "sass:map";

$color-white: white; 
$color-light-grey: rgb(236, 235, 235);
$color-grey: grey;
$color-blue: #008aa6;
$color-light-blue: #beece0;
$color-senf: #ddbe5d;
$color-red: #ff0000;
$color-mint: #dcf7f0;
$color-cadetblue: cadetblue;

$border-grey: 1px #008aa6 solid;