@use "variables.scss";

.loggedIn-div {
  display: flex;
  justify-content: flex-end;
  height: 7vh;
}

.ButtonLogout {
  padding: 0.5em 0.8em;
  margin-left: 1em;
  margin-right: 2em;

  border-radius: 5px;
  font-weight: bold;
  border: 2px solid variables.$color-blue;

  color: variables.$color-blue;
  background-color: variables.$color-white;

  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ButtonLogout:hover {
  color: variables.$color-white;
  background-color: variables.$color-blue;
}

.userName {
  font-size: 1.2em;
  font-weight: bold;
}
