@use "variables.scss";


.inputButtonLogin {
  padding: 0.5em 0.8em;
  margin-left:75%;
  margin-top: 1em;
  background-color: variables.$color-blue;
  border-radius: 5px;
  font-weight: bold; 
  border: 2px solid  variables.$color-blue;
  color: variables.$color-white;    
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.3s ease;  
}

.inputButtonLogin:hover {  
    color: variables.$color-blue;
    background-color: variables.$color-white; 
    transform: scale(1.1);
}

.inputLogin {
  cursor: pointer;
  padding: 0.5em ;
  border-radius: 5px;
  width: 96%;
  margin-top: 1em;
  margin-bottom:.5em;
  border: 2px solid variables.$color-light-blue ;
  transition:all 0.3s ease; 
}

.inputLogin:focus {
  outline: none;
  box-shadow: 0 0 0 4px variables.$color-light-blue;
}

.errorLogin {
    color: variables.$color-red;   
}

.linkRegister {
  color: variables.$color-blue;
  // float: right;
  margin-top: 2em;
}

